includes:
    - ./vendor/avengerscodelovers/laravel-cs/phpstan.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ## Exclude files or folder from analysis ##
    # excludePaths:
    #    - app/Modules/*/Tests/*
